@charset "UTF-8";

@page{
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
div#folhaTabela{
    width: 215.9mm;
    height: 279.4mm;
    background-color: #ccbab0;
    margin: auto;
}
div#folhaEtiqueta{
    width: 215.9mm;
    height: 279.4mm;
    background-color: #ccbab0;
    margin: auto;
}
table#tabela{
    padding-top: 12.5mm;
}


div.p6080{
    width: 66.7mm;
    height: 25.4mm;
    margin-left: 3.9mm;
    background-color: #dddddd;
}
div.p6080 p{
    margin:0mm;
    padding: 1.5mm;
}
div.divbola{
    color:#fff;
    width:10mm;
    height:10mm;
    line-height:10mm;
    float: right;
    font-size:5mm;
    border-radius:50%;
    margin: 5mm;
}

div#folhaHorario{
    height: 215.9mm;
    width: 279.4mm;
    background-color: #ccbab0;
    margin: auto;
}
table#tabelaH{
    padding-top: 30mm;
    padding-left: 39.7mm;
}
td#tabelaH1{
    width: 50mm;
    height: 40mm;
    margin-left: 0mm;
    background-color: #dddddd;
}
td.tabelaH2{
    width: 30mm;
    height: 40mm;
    margin-left: 0mm;
    background-color: #dddddd;
}
td.tabelaNomeRemedio{
    height: 12mm;
    margin-left: 0mm;
    background-color: #dddddd;
}